@import "../variables";

.mainContainer {
  margin-top: 30px;
  width: min(600px, 100%);
  @include paddingX(30px);
  @include mq(getBp(sm)) {
    @include paddingX(15px);
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: getFontweight(semibold);
  }
}

.errorBox {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: $red-error;
  border: 2px solid darken($red-error, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @include paddingY(5px);
  @include paddingX(5px);

  p {
    font-size: 1rem;
    font-weight: getFontweight(semibold);
    color: #fff;
  }
}
