@import "../../variables";

.passwords {
  &_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
  }

  &_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    @include paddingX(20px);

    p {
      font-weight: getFontweight(semibold);
      color: $text-secondary;
      font-size: 1rem;
    }
  }
}
