@import "./variables";

.mainContainer {
  width: min(600px, 100%);
  @include paddingX(30px);
  @include marginY(30px);
  @include mq(getBp(sm)) {
    @include paddingX(15px);
  }

  &_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  &_link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: getFontweight(semibold);
    color: $text-primary;
  }
}
